.imgProdu{
    /* max-width: 25rem; */
    width: auto;
    height: 100%;
    /* max-height: 30rem;  */
    border-radius: 0.5rem;
    box-shadow: 0px 0px 23px 4px rgba(112,108,112,1);
}
.ctnTotal{
    padding: 2rem;
    background-color: #b8b4b4;
    border-radius: 1rem;

}
.infoProdu{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ctas-container{
    width: 100%;
    height: 10rem;
    background-color: rgba(248, 245, 241, 0.308);
}
.btnCompras{
    width:12rem;
}
.imgCtn{
   
}