.lineaBotones{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    gap: 1rem;
}
.ctnCount{
    padding: 1rem;
    background-color: rgba(248, 245, 241, 0.308);
}